{% extends "base.html" %}
{% block title %}<title>Error 400 :: {{ site_name_setting }}</title>{% endblock %}

{% block dashboard_stat %}
{% endblock %}

{% block content %}

<!-- Main content -->
    <style>
        .content-wrapper {
            display: flex;
        }
    </style>
<section class="content error">
    <div id="error">
		<div>
			<h1><strong>:(</strong></h1>
			<h2>Oops! Bad request!</h2>
            <p>The server refused to process your request, and returned a 400 error. Please return to the dashboard or your previous page.</p>

            <h2>Error: 400_BAD_REQUEST </h2>
		</div>
	</div>
</section>
<!-- /.content -->
{% endblock %}
