{% extends "base.html" %}
{% block title %}<title>Error 401 :: {{ site_name_setting }}</title>{% endblock %}

{% block dashboard_stat %}
{% endblock %}

{% block content %}

<!-- Main content -->
    <style>
        .content-wrapper {
            display: flex;
        }
    </style>
<section class="content error">
    <div id="error">
		<div>
			<h1><strong>:(</strong></h1>
			<h2>Access Denied</h2>
            <p>You do not have permission to access this page. Please login, or <a href="mailto:dnsadmin@0x97.io">contact an admin</a> if you believe this was in error.</p>

            <h2>Error: 401_ACCESS_DENIED </h2>
		</div>
	</div>
</section>
<!-- /.content -->
{% endblock %}
