{% extends "base.html" %}
{% block title %}<title>Error 404 :: {{ site_name_setting }}</title>{% endblock %}

{% block dashboard_stat %}
{% endblock %}

{% block content %}

<!-- Main content -->
    <style>
        .content-wrapper {
            display: flex;
        }
    </style>
<section class="content error">
    <div id="error">
		<div>
			<h1><strong>:(</strong></h1>
			<h2>The page you are looking for cannot be found. It might have been removed, had its name changed, or is temporarily unavailable.</h2>
            <p>Please try the following:</p>
            <ul>
                <li>If you typed the page address in the Address bar, make sure that it is spelled correctly.</li>
                <li>Open the <a href="http://dns.0x97.io">dns.0x97.io</a> home page, and then look for the links to the information you want.</li>
                <li>Click the Back button to try another link.</li>
            </ul>

            <h2>Error: THE_REQUESTED_RESOURCE_COULD_NOT_BE_FOUND </h2>
		</div>
	</div>
</section>
<!-- /.content -->
{% endblock %}
