{% extends "base.html" %}
{% block title %}<title>Error 500 :: {{ site_name_setting }}</title>{% endblock %}

{% block dashboard_stat %}
{% endblock %}

{% block content %}
<!-- Main content -->
    <style>
        .content-wrapper {
            display: flex;
        }
    </style>
<section class="content error">
    <div id="error">
		<div>
			<h1><strong>:(</strong></h1>
			<h2>Internal Server Error<br/>
                The server was unable to complete your request. Our developers have been alerted of this error and will look into it shortly.</h2>
            <p>Why did this happen?</p>
            <ul>
                <li>Our servers are currently overloaded and were unable to process your request.</li>
                <li>Something is misconfigured on one of our servers.</li>
                <li>The internet is broken.</li>
            </ul>
            <p>Try reloading the page. If the issue persists, please contact <a href="mailto:dnsadmin@0x97.io">dnsadmin@0x97.io</a>.</p>

            <h2>Error: 500_INTERNAL_SERVER_ERROR </h2>
		</div>
	</div>
</section>
<!-- /.content -->
{% endblock %}
